[project]
	description = Open Network Operating System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sangyun Han (sangyun-han)
[access "refs/for/refs/*"]
	read = group user/Sangyun Han (sangyun-han)
	push = group user/Sangyun Han (sangyun-han)
	label-Code-Review = -2..+2 group user/Sangyun Han (sangyun-han)
	label-Verified = -1..+1 group user/Sangyun Han (sangyun-han)
	rebase = group user/Sangyun Han (sangyun-han)
	removeReviewer = group user/Sangyun Han (sangyun-han)
	submit = group user/Sangyun Han (sangyun-han)
[access "refs/heads/*"]
	read = group user/Sangyun Han (sangyun-han)
	create = group user/Sangyun Han (sangyun-han)
	push = +force group user/Sangyun Han (sangyun-han)
	pushMerge = group user/Sangyun Han (sangyun-han)
[access "refs/tags/*"]
	push = +force group user/Sangyun Han (sangyun-han)
	pushTag = group user/Sangyun Han (sangyun-han)
	pushSignedTag = group user/Sangyun Han (sangyun-han)
